<h1>You fell in love with: <%= thingVar.toUpperCase(); %></h1>
<% if(thingVar.toLowerCase() === 'amanda' || thingVar.toLowerCase() === 'rob'){ %>
        <p>Great Choice! <%= thingVar.toUpperCase(); %> is the best!</p>
    <% }else{ %>
        <p>You chose poorly... You know who the best is.</p>
    <% } %>


<p>P.S. This is the love.ejs file!</p>